*{
    margin:0;
    padding:0;

}
.body {


}

.navbar-item-custom,
.navbar-item-custom a {
  color: white;
}

.footer-custom {
    color: white;
  text-align: center;
  position: fixed;

  width: 100%;
  background-color: #0e81f4;
  padding-top: 25px;
}

.product-container {
  margin-bottom: 130px;
}

.product-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-item h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 10px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-price {
  font-size: 16px;
  font-weight: bold;
}

img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px;
}

.product-page-price {
  font-size: 18px;
  font-weight: bold;
}

.product-page-description {
  text-align: justify;
}
